{% extends "base.html" %}

{% block content %}   
    <div class="login-box registrar">
        <h2>Datos del ingresado</h2>
        <form action="/editar_persona/{{person.id}}" method="POST">
            <div class="user-box">
                <input type="date" id="fecha" name="fecha" required="" value="{{ person.fecha }}">
                <label class="label-fecha">Fecha</label>
            </div>
            <div class="user-box">
                <input type="text" id="nombre" name="nombre" required="" value="{{ person.nombre }}">
                <label>Nombre</label>
            </div>
            <div class="user-box">
                <input type="text" id="apellido" name="apellido" required="" value="{{ person.apellido }}">
                <label>Apellido</label>
            </div>
            <div class="user-box">
                <input type="text" id="dni" name="dni" required="" value="{{ person.dni }}">
                <label>D.N.I</label>
            </div>
            <div class="user-box">
                <input type="text" id="motivo" name="motivo" required="" value="{{ person.motivo }}">
                <label>Motivo</label>
            </div>
            <h4>{{ message }}</h4>
            <div class="buttom-form">
                <button class="btn_transpa" type="submit" id="guardar" name="guardar">Guardar</button>
                <a href="/index">Volver</a>
            </div>
        </form>
    </div>
{% endblock %}