{% extends "base.html" %}

{% block content %}   
    <div class="login-box registrar">
        <h2>Datos del ingreso</h2>
        <form action="/registrar_persona" method="POST">
            <div class="user-box">
                <input type="date" id="fecha" name="fecha" required="">
                <label class="label-fecha">Fecha</label>
            </div>
            <div class="user-box">
                <input type="text" id="nombre" name="nombre" required="">
                <label>Nombre</label>
            </div>
            <div class="user-box">
                <input type="text" id="apellido" name="apellido" required="">
                <label>Apellido</label>
            </div>
            <div class="user-box">
                <input type="text" id="dni" name="dni" required="">
                <label>D.N.I</label>
            </div>
            <div class="user-box">
                <input type="text" id="motivo" name="motivo" required="">
                <label>Motivo</label>
            </div>
            <h4>{{ message }}</h4>
            <div class="buttom-form">
                <button class="btn_transpa" type="submit" id="registrar">Registrar</button>
                <a href="/index">Volver</a>
            </div>
        </form>
    </div>
{% endblock %}